@model Infraestructure.Models.Compra

@{
    ViewBag.Title = "EvaluationCompraVendedor";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}

@if (Session["User"] != null)
{
    Infraestructure.Models.Usuario oUsuario;
    oUsuario = (Infraestructure.Models.Usuario)Session["User"];
}


  
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        modal
    </button>*@

<!-- Modal -->

<div class="contenedor-evaluacion">
    <h2 class="" id="">Califica tu satisfacción</h2>
    <hr />

    @{
        int contador = 0;
        foreach (var item in Model.DetalleCompra)
        {
            contador++;
            if (item.Producto.Tienda.Id == ViewBag.idTienda)
            {
                <div class="container">
                    <div class="w-50 text-left">
                        <span style="font-size: 17px !important; color: rgba(0,0,0,.85) !important; font-weight: 600 ">Cliente: @Html.DisplayFor(p => Model.Usuario.Nombre)</span>
                        <ul class="product-list">
                            <li class="product-item">
                                <span>@Html.DisplayFor(p => item.Producto.Nombre)</span>
                            </li>

                        </ul>
                    </div>
                    <div class="star-widget w-75">

                        <input value="5" type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star text-center"></label>
                        <input value="4" type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input value="3" type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input value="2" type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input value="1" type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star mb-2"></label>
                        <form action="#">
                            @*<header></header>*@
                            <span style="" class="w-100 d-flex justify-content-end"></span>
                            <div class="textarea mt-1 ">
                                <textarea class="comment" cols="30" placeholder="Describe tu experiencia.."></textarea>
                            </div>
                            <div class="btn p-0 m-0">
                                <button type="submit" data-id="@Html.DisplayFor(p => Model.Id)" class="send">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />

                }

            }
        }
    

</div>







<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Asegúrate de tener jQuery cargado -->

<script>
    $(document).ready(function () {

        $(".send").click(function () {
            var compraId = $(this).data("id");
            var valorRadioSeleccionado = $("input[name='rate']:checked").val();
            var contenidoTextarea = $(this).closest(".star-widget").find(".comment").val();

            console.log('Valor del radio seleccionado:', valorRadioSeleccionado);
            console.log('Contenido del textarea:', contenidoTextarea);
            console.log('Contenido del id:', compraId);

            event.preventDefault();
            // Realiza la petición Ajax para eliminar el producto
            $.ajax({
                url: "/Evaluacion/Edit",
                type: "POST",
                data: { compraId: compraId, evaluacion: valorRadioSeleccionado, comentario: contenidoTextarea },
                success: function (data) {
                    // Muestra el resultado de la eliminación en el elemento div
                    $("#resultado").text(data);
                    console.log("Producto borrado")
                },
                error: function () {
                    $("#resultado").text("Error al eliminar el producto.");
                }
            });
        });
    });
</script>



