
@model IEnumerable<Infraestructure.Models.Producto>

@{
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}


<div class="mt-5 d-flex justify-content-center">


        <div class="col-md-9 d-flex flex-row flex-wrap justify-content-between align-items-start">


            @foreach (var item in Model)
            {
                <div class="col-md-3 ">
                    <div class="card carta-sombra" style="max-width:210px;">
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Imagen)"
                             alt="Imagen @Html.DisplayFor(modelItem => item.Descripcion)" class="" />
                        <div class="card-body">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Descripcion) </h5>
                            <div class="btn-group d-flex" role="group">
                                <a href="@Url.Action("Details","Producto",new {id= item.Id})" class="btn  text-white btn flex-grow-1 pt-2" style="background: var(--color-secondary-variant) ">Detalles</a>
                                @*<button type="button" class="btn flex-grow-0" style="background: var(--color-danger) ">
                                    <span class="material-symbols-outlined text-white">edit</span>
                                </button>*@
                                <a href="@Url.Action("Edit","Producto",new {id= item.Id})" class="btn  text-white btn flex-grow-0 pt-2" style="background: var(--color-danger) "><span class="material-symbols-outlined text-white">edit</span></a>


                                @*<button type="button" class="btn bg-primary">
            <span class="material-symbols-outlined text-white">info</span>
        </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


