@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Infraestructure.Models.Producto>

@using Infraestructure.Models

@{
    // Convertir el modelo a IEnumerable<Producto>
    IEnumerable<Producto> modeloProductos = Model as IEnumerable<Producto>;
}


<div class="content">
    <div class="hero-image">
        <img class="hero-1" src="~/Content/Images/hero-1.png" alt="hero 1" />
        <div class="d-flex flex-row justify-content-between flex-wrap">

            <img class="hero-2" src="~/Content/Images/hero-2.png" alt="hero 2" />
            <img class="hero-3" src="~/Content/Images/hero-3.jpg" alt="hero 3" />
            <img class="hero-4" src="~/Content/Images/hero-4.jpg" alt="hero 4" />
        </div>
    </div>




    @* Información usuario *@
    @{
        string nombre = "";
        string email = "";
        Infraestructure.Models.Usuario oUsuario;
        //Validar si existe en la sesión
        if (Session["User"] != null)
        {
            oUsuario = (Infraestructure.Models.Usuario)Session["User"];
            if (oUsuario != null)
            {
                nombre = $"{oUsuario.Nombre}";
                email = oUsuario.Correo;
            }

        }
    }

    @if (Session["User"] != null)
    {
        <h2 id="producto-titulo" class="producto-titulo text-center" style="color: var(--color-secondary-variant) !important; font-size: 2.6rem !important; margin-top: 1.8rem ">¡Bienvenido @nombre!</h2>
    }




    @Html.Partial("~/Views/Producto/_Productos.cshtml", modeloProductos)

</div>
